################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularAspnet8/.vs/AngularAspnet8/FileContentIndex/506a0802-c9b5-4642-b0b0-ac4224645998.vsidx
/AngularAspnet8/.vs/AngularAspnet8/FileContentIndex/74c45188-429f-49a2-bedd-7d8418025e5b.vsidx
